/* ### Colors */
/* Green: #20c063 / RGBA(32,192,99,1) */
/* Gray: #e8e9ea  / RGBA (232,233,234,1) */
/* Dark Text: #3b4144 / RGBA (59,65,68,1) */

html {
    color: #222;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'lato', sans-serif;
   }

a {
    text-decoration: none;
}
   
/* navigation */

.mainNav{
    background-color: #32b64c;
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.leftMainNav,
.rightMainNav{
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.mainNav ul li{
    display: inline-block;
    margin: 0;
    list-style: none;
} 

.truliaLogo{
    min-width: 80%;
    padding:5px 10px;
    height: 25px;
    width: 78px;
}

.mainNavItem,
.mainNavItem :visited{
  font-size: 14px;
  padding: 0 12px;
  display:block;
  color:white;
}

/* circle link */

.mainNavItem .circleLink {
    border: 2px solid white;
    border-radius: 22px;
    display: inline-block;
    height: 20px;
    padding-top: 2px;
    margin: 0px 5px;
    text-align: center;
    text-transform: uppercase;
    width: 22px;
  }