i
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
display: grid;
grid-template-columns: 1fr 2fr 1 fr;
gap: 10px
}

.exerciseMainContent {
   

}

.exerciseMainAside {

}