

/*/////////////////////////////// base styles //////////////////////////////*/
html {
    color: black;
    font-size: 26px;
    line-height: 1.4;
    font-family: 'General Sans', sans-serif;
    
    scroll-behavior: smooth;  
}

    

body {
    background-color: #FFFCF1;
}



a, a:focus{
    color: black;
    text-decoration: none;
    font-size: 22px; 
    -webkit-transition: color .25s ease-in; 
    outline: none;
 } 

a:hover{
    color: #ff4d00;
    text-decoration: none;
}




/******************************** NAVIGATION and HEADER*******************************/

.tw-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 0 30px;
}
   
.nav-left {
    display: flex;
    justify-content: flex-start; 
    align-items: center;

}

.nav-right ul{
    list-style: none;
    padding: 0%;
}

.nav-right li  {
    display: inline-block; 
    margin-left: 80px; 
    
    
}

.tw-logo {
    min-width: 200px;
}




/* main section */

/* styles */

.responsive-about h1 { 
    font-family: 'Chivo', sans-serif;;
    color: #0f0450;
    font-size: 120px;
    font-weight: 700;
    line-height: 15px;
}

.responsive-about h2 {
    color: black;
    font-family:'General Sans', sans-serif;
    font-size:28px;
    font-weight: 400;
}

.responsive-about a {
    font-size: 28px;
    text-decoration: underline;
}


/* content container */
.main-content{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    

}

.contentContainer {
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
} 



/* .responsive-about  section*/

.responsive-about {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    min-height: 70vh; 
    min-height: calc(100vh - 100px);
    align-items:center;
    gap: 30px;
    overflow: hidden;
}

.responsive-about img{
    max-width: 100%;
}

.selfportrait {
    background-size: cover;
    position:relative; 
    border-radius: 50%;

}

.about-image{
    display: block;
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width: 960px) {
    .responsive-about {
        display:block;
        
    }
    
    .about-item{
        width: 100%;
    
    }
    
    .about-image{
        display: none;
    }
} 


/* work section */

